<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <nav>
    <h1>Hello, admin</h1>
    {% comment %} <a href="{% url 'accounts:update' %}">회원정보수정</a>
    <form action="{% url 'accounts:logout' %}" method="POST">
      {% csrf_token %}
      <button>Logout</button>
    </form>
    <form action="{% url 'accounts:delete' %}" method="POST">
      {% csrf_token %}
      <button>회원탈퇴</button>
    </form>
    
    <a href="{% url 'accounts:login' %}">Login</a>
    <a href="{% url 'accounts:signup' %}">Signup</a>
    <hr>{% endcomment %}
  </nav> 
  {% block content %}
  {% endblock content %}
</body>
</html>