.box1{
  width: 500px;
  border-width: 2px;
  border-style: dashed;
  border-color: black;
  padding-left: 30px;
  margin-bottom: 30px;
}

.box2{
  width: 500px;
  border: 2px solid black;
  padding: 20px 30px; 
}

.box{
  width: 100px;
  margin: 10px auto;
  padding: 20px;
  border: 1px solid black;
  color: white;
  text-align: center;
  background-color: blueviolet;
}

.box-sizing{
  box-sizing: border-box;
  margin-top: 50px;
}